@using MerchantService.Repository.ApplicationClasses
@model ResetPasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @System.Web.Optimization.Styles.Render("~/Content/css")
    @System.Web.Optimization.Styles.Render("~/Content/Maincss")
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
    <title>Reset Password</title>
</head>
<body>
    <div class="login-div content-center">
        <div class="login-logo text-center">
            <img />
        </div>
        <section id="forgotpasswordForm">
            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h2>Reset Password</h2>
                @Html.HiddenFor(model => model.Code)
                @Html.HiddenFor(m => m.UserId, new { id = "userId", value = ViewBag.UserId })
                //   @Html.TextBoxFor("UserId", (string)ViewBag.UserId)
                var result = ViewBag.Message as string;
                if (!String.IsNullOrEmpty(result))
                {
                    <p class="error m-l45">@result</p>
                }

                <hr />
                <div class="form-group">
                    <label class="col-md-5 control-label">Password</label>
                    <div class="col-md-7">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label">Confirm Password</label>
                    <div class="col-md-7">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-5 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-info" />
                    </div>
                </div>

            }
        </section>
    </div>
</body>
</html>
