@using MerchantService.Repository.ApplicationClasses
@model ForgotPasswordModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @System.Web.Optimization.Styles.Render("~/Content/css")
    @System.Web.Optimization.Styles.Render("~/Content/Maincss")
    <title>Forgot Password</title>
</head>
<body>
    <div class="login-div content-center">
        <div class="login-logo text-center">
            <img />
        </div>
        @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            <h2>Forgot Password</h2>
            <section id="forgotpasswordForm">
                <hr />
                <label class="text-error">
                    @ViewBag.ErrorMessage
                </label>
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="col-md-3 control-label">Email</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control",placeholder = Html.DisplayNameFor(x => x.Email) })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-info" />
                        @Html.ActionLink("Back to log in", "Login", "Login", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "forgot-link" })
                    </div>                   
                </div>


            </section>
        }
    </div>
</body>
</html>
